body, div{
	background-color: #373737;
}

@font-face{
	font-family: 'minecraftia';
	src: url('../fonts/Minecraftia.ttf');
}
* {
	font-family: minecraftia;
	font-size: small;
	color: #18AAD6;
	text-align: center;
}

::-webkit-input-placeholder {
  font-size: xx-small;
  text-align: center;
}

::-moz-placeholder {
  font-size: xx-small;
  text-align: center;
}

::-o-placeholder {
  font-size: xx-small;
  text-align: center;
}

::-ms-placeholder {
  font-size: xx-small;
  text-align: center;
}

-placeholder {
  font-size: xx-small;
  text-align: center;
}


.ui-grid-a .icon-tile.ui-block-a {
	width: 125px;
	height: 125px;
	position: relative;
	background-color: #373737;
	margin: auto;
}

.ui-grid-a .icon-tile.ui-block-b {
	width: 125px;
	height: 125px;
	position: relative;
	background-color: #373737;
	margin: auto;
}

#fs-header.ui-title {
	font-size: 14px;
}

#icons-wrapper {	
	width: 250px;
	height: 250px;
	margin: auto;
}

#movie-icon-tile {
	width: 100px;
	height: 100px;
	margin: 12.5px 0px 0px 12.5px;
	position: relative;
}

#music-icon-tile {
	width: 100px;
	height: 100px;
	margin: 12.5px 0px 0px 12.5px;
	position: relative;
}

#book-icon-tile {
	width: 100px;
	height: 100px;
	margin: 12.5px 0px 0px 12.5px;
	position: relative;
}

#game-icon-tile {
	width: 100px;
	height: 100px;
	margin: 12.5px 0px 0px 12.5px;
	position: relative;
}

#welcome-message {
	color: white;
	text-align: center;
	font-size: small;
	display: block;
  width:100%;
  height: 100%;
  margin: 0 auto;
}

#login-message {
	color: white;
	text-align: center;
	font-size: 10px;
	display:block;
  width:100%;
  height: 100%;
  margin: 0 auto;
}

#navbar {
	width: 100%;
	height: 40px;
	position: relative;
	margin: auto;
}

h3#fs-footer-dev {
	color: white;
	text-align: center;
	font-size: 10px;
	display:block;
  width:100%;
  height: 100%;
  margin: 0 auto;
}

h5#fs-footer-copyright {
	color: white;
	text-align: center;
	font-size: 6px;
	display:block;
  width:100%;
  height: 100%;
  margin: 0 auto;
}

#navbar-popup-menu-popup {
	margin-bottom: 50px;
}

#navbar-popup-menu {
	width: 100%;
	height: 100%;
}

#left-panel-content {
	margin-top: 40px;
}

#login-btn{
	width: 126px;
}

#left-panel-header.ui-header {
	height: 44px;
}

#left-panel-header-text.ui-title {
	font-size: x-small;
	width: 100px;
	height: 20px;
	margin: auto;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0);
}

a#movie-btn span.ui-btn-text{
	font-size: 10px;
}

a#music-btn span.ui-btn-text{
	font-size: 10px;
}

a#book-btn span.ui-btn-text{
	font-size: 10px;
}

a#game-btn span.ui-btn-text{
	font-size: 10px;
}
#right-panel-header.ui-header {
	height: 44px;
}
#right-panel-header-text.ui-title {
	font-size: x-small;
	width: 100px;
	height: 20px;
	margin: auto;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0);
}
